[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/super-tab"]
	path = bundle/super-tab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = git://github.com/davidhalter/jedi-vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/pep8"]
	path = bundle/pep8
	url = git://github.com/vim-scripts/pep8.git
[submodule "bundle/rst-table"]
	path = bundle/rst-table
	url = git://github.com/vim-scripts/rst-tables--Chao.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
