[submodule "bundle/vim-ipython"]
	path = bundle/vim-ipython
	url = git://github.com/ivanov/vim-ipython.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/super-tab"]
	path = bundle/super-tab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = git://github.com/davidhalter/jedi-vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
